<div class="container-fluid widget-list-wrapper" ng-controller="WidgetListController as model">
  <div class="row wamSortable">
    <div class="container-fluid single-widget" ng-repeat="widget in model.widgets">
      <div ng-switch="widget.widgetType">
        <div ng-switch-when="HEADING">
          <ng-include src="'views/widget/widget-heading.view.client.html'">
        </div>
        <div ng-switch-when="IMAGE">
          <ng-include src="'views/widget/widget-image.view.client.html'">
        </div>
        <div ng-switch-when="YOUTUBE">
          <ng-include src="'views/widget/widget-youtube.view.client.html'">
        </div>
        <div ng-switch-when="HTML">
          <div class="col-xs-12">
            <ng-include src="'views/widget/widget-html.view.client.html'">
          </div>
        </div>
        <div ng-switch-when="TEXT">
          <div ng-if="widget.formatted" ng-model="widget.text"
          text-angular
          ta-toolbar="[['h1', 'h2', 'h3'], ['bold', 'italics']]"></div>
          <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
          placeholder="{{widget.placeholder}}"  value="{{widget.text}}" class="form-control"/>
          <textarea ng-if="!widget.formatted && (widget.rows > 1)"
            rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
            class="form-control">{{widget.text}}</textarea>
        </div>

      </div>
    </div>
  </div>
</div>

