
<nav class="navbar navbar-default navbar-white navbar-fixed-top">
    <div class="container-fluid col-xs-12">
        <a class="navbar-brand col-xs-1" href="#/user/:uid">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <div class="navbar-white-text col-xs-11"> Widgets
	   	 	<a class="navbar-link pull-right right-navbar-link" href="#/user/:uid/website/:wid/page/:pid/widget/new">
				<span class="gglyphicon glyphicon-plus navbar-plus" aria-hidden="true"></span>
			</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row"><h1 class="header1 col-xs-11">Good morning</h1><a href="widget-heading.html" class="text-right col-xs-0.5"><span class="glyphicon glyphicon-cog"></span></a><a class="text-right col-xs-0.5"><span class="glyphicon glyphicon-align-justify">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row"><h1 class="header2 col-xs-11 text-left">Jackie Chan Has An Absolutely Amazing New Private Jet</h1><a href="widget-heading.html" class="text-right col-xs-0.5"><span class="glyphicon glyphicon-cog"></span></a><a class="text-right col-xs-0.5"><span class="glyphicon glyphicon-align-justify">   
        </div>
    </div>
    <div class="container-fluid">
        <div class="row"><img src="https://cdn0.vox-cdn.com/thumbor/5LK90Xhx0U60V5quxJX-MKDpU7U=/0x18:400x243/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/46458486/jackie-chan-illuminati.0.0.jpg" class="col-xs-11" style="width:400px; height:200px;"/><a href="widget-image.html" class="text-right col-xs-0.5"><span class="glyphicon glyphicon-cog"></span></a><a class="text-right col-xs-0.5"><span class="glyphicon glyphicon-align-justify">   
        </div>
    </div>
    <div class="container-fluid">
        <div class="row"><h2 class="header2 col-xs-11 text-left">Jackie Chan is worth $130 million dollars (£104 million pounds)
        <br/> making him one of the richest actors in the modern world. </h2><a href="widget-heading.html" class="text-right col-xs-0.5"><span class="glyphicon glyphicon-cog"></span></a><a class="text-right col-xs-0.5"><span class="glyphicon glyphicon-align-justify">    
        </div>
    </div>
    <div class="container-fluid">
        <div class="row"><iframe width="560" height="200" src="https://www.youtube.com/embed/71AALwjyPL4" frameborder="0" class="col-xs-11" allowfullscreen></iframe><a href="widget-youtube.html" class="text-right col-xs-0.5"><span class="glyphicon glyphicon-cog"></span></a><a class="text-right col-xs-0.5"><span class="glyphicon glyphicon-align-justify">        
        </div>
    </div>
    <div class="container-fluid">
    <div class="row"><p class="col-xs-11 header2 text-left">I’m so thrilled to receive this Legacy 500, a state-of-the-art executive jet.<br/>In the past few years, my Legacy 650 has brought me fantastic travelling experiences and great convenience, allowing me to do more acting and philanthropic works around the world. I’m sure that the performance of the new Legacy 500 will again exceed my expectations, and become a comfortable mobile home and office for me.    
    </p><a href="widget-heading.html" class="text-right col-xs-0.5"><span class="glyphicon glyphicon-cog"></span></a><a class="text-right col-xs-0.5"><span class="glyphicon glyphicon-align-justify"> </div>
    </div>
</div>
<footer class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/:uid">
                <span class="glyphicon glyphicon-user footer-text"></span>
            </a>
        </div>
    </div>
</footer>

