
<nav class="navbar navbar-default navbar-white navbar-fixed-top">
  <div class="container-fluid col-xs-12">
    <a class="navbar-brand col-xs-1" href="#/user/{{model.uid}}/website/{{model.wid}}/page">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <div class="navbar-white-text col-xs-11"> Widgets
      <a class="navbar-link pull-right right-navbar-link" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new">
        <span class="gglyphicon glyphicon-plus navbar-plus" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</nav>

<!-- <div class="container-fluid widget-list-wrapper">
  <div class="row">
    <div class="container-fluid single-widget" ng-repeat="widget in model.widgets">
      <div ng-switch="widget.widgetType">
        <div ng-switch-when="HEADING">
          <ng-include src="'views/widget/widget-heading.view.client.html'">
        </div>
        <div ng-switch-when="IMAGE">
          <ng-include src="'views/widget/widget-image.view.client.html'">
        </div>
        <div ng-switch-when="YOUTUBE">
          <ng-include src="'views/widget/widget-youtube.view.client.html'">
        </div>
        <div ng-switch-when="HTML">
          <div class="col-xs-12">
            <div ng-bind-html="model.checkSafeHtml(widget.text)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<wam-sortable sort="model.sortWidget(start, stop)" data="model.widgets"></wam-sortable>
<footer class="navbar navbar-default navbar-fixed-bottom footer">
  <div class="container-fluid">
    <div class="navbar-text pull-right">
      <a href="#/user/{{model.uid}}">
        <span class="glyphicon glyphicon-user footer-text"></span>
      </a>
    </div>
  </div>
</footer>

