
<nav class="navbar navbar-default navbar-white navbar-fixed-top">
    <div class="container-fluid col-xs-12">
        <a class="navbar-brand col-xs-1" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <div class="navbar-white-text col-xs-11"> Choose Widget
        </div>
    </div>
</nav>

<ul class="content-list container">
    <li><a href="" ng-click="model.createWidget('HEADING')">Header</a></li>
    <li><a href="" ng-click="model.createWidget('IMAGE')">Image</a></li>
    <li><a href="" ng-click="model.createWidget('YOUTUBE')">YouTube</a></li>
    <li><a href="">Label</a></li>
    <li><a href="" ng-click="model.createWidget('TEXT')">Text</a></li> 
    <li><a href="">Link</a></li> 
    <li><a href="">Button</a></li> 
    <li><a href="">Data Table</a></li> 
    <li><a href="">Repeater</a></li> 
    <li><a href="" ng-click="model.createWidget('HTML')">HTML</a></li>     
</ul>

<footer class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}">
                <span class="glyphicon glyphicon-user footer-text"></span>
            </a>
        </div>
    </div>
</footer>


